<div class="cartList">
  {{#link-to 'check' products.id}} {{/link-to}}

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Naivas</th>
          <th>Nakumatt</th>
          <th>Tuskys</th>
          <th>Uchumi</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each shoppingCart.products as |products|}}
        <tr>
          <th>{{products.name}}</th>
          <td class="cart-price">{{products.Naivas}}</td>
          <td class="cart-price">{{products.Nakumatt}}</td>
          <td class="cart-price">{{products.Tuskys}}</td>
          <td class="cart-price">{{products.Uchumi}}</td>
          <td><button class="removeItemButton" {{action 'removeFromCart' product}} id="btn-contact">Remove</button></td>
        </tr>
      {{/each}}
        {{total-price shoppingCart.products shoppingCart.products.length}}
      </tbody>
    </table>
  </div>
</div>