{{#if updateReviewForm}}
<h2 class="text-center">Update Your Review</h2>
<br>
<form>
  <div class="form-group">
    <label for="text">Your Name:</label>
    {{input value=review.username id="username" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    {{input value=review.date id="date" class="form-control" type="date"}}
  </div>
  <div class="form-group">
    <label for="profilePicture">Enter Picture URL</label>
    {{input value=review.profilePicture id="profilePicture" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="rating">Rate Us (1-5 scale)</label>
    {{input value=review.rating id="rating" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="reviewContent">Review Content</label>
    {{textarea value=review.reviewContent id="reviewContent" class="form-control" rows="5"}}
  </div>
  <button {{action "updateReview" review}} class="btn-review">Save</button>
</form>
{{else}}
<button {{action "showUpdateReviewForm"}} class="btn-review">Update Review</button>
{{/if}}