<div class="contanier">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1 class="text-center">REVIEWS</h1>
      <hr>
      <br>
      {{new-review saveNewReview="saveNewReview"}}
      <br>
      <div class="review-list">
        <h2 class="page-header">Review List</h2>
        <br>
        {{#each model.review as |review|}}

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3>By {{review.username}}</h3>
          </div>
          <div class="panel-body">
            <p id="review-content">{{review.reviewContent}}</p>
            {{update-review review=review deleteReview="deleteReview"}}
            <br>
            <button {{action "deleteReview" review}} class="btn-delete">Delete</button>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>

{{#project-footer}}{{/project-footer}}
{{outlet}}